<div style="margin-top: 15px;">
<h3> Name  </h3> <%= @user.name%>
</div>
<div style="margin-top: 15px;">
<h3> Email  </h3> <%= @user.email%>
</div>
<div style="margin-top: 15px;">
<h3> Address  </h3> <%= @user.address%>
</div>